doctype html
html
  head
    title Todo App
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/w3.css')
    style(type="text/css").
        .task {
            margin: 1%;
            padding: 1%;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            border: 2px solid #2596be;
            border-radius: 5px;
        }
        .task p {
            margin: 0.5%;
            padding: 0.5%;
        }
  body
    block content
